.downtimeNotification {
    // background: rgb(255, 44, 44);
    background: var(--color-purple);

    &__inner {
        display: flex;
        align-items: center;

        padding: 10px;

        &__icon {
            width: 30px;
        }
        &__description {
            margin-left: 5px;
        }
    }
}
