.footer {
    display: flex;
    align-items: center;
    column-gap: 25px;

    img {
        width: 150px;
    }

    a {
        color: white;
        text-decoration: none;
        transition-duration: 0.3s;

        &:hover {
            color: var(--color-purple);
            text-decoration: underline;
        }
    }
}
